/*-- scss:defaults --*/

$primary: #637238 !default;
$font-size-root: 18px !default;

/*-- scss:rules --*/

.sidebar-title {
  display: none;
}

/* Code ------------------------------------------------ */

code {
    color: #373a3c;
    background-color: #f5f5f5;
    padding: 0.125rem 0.25rem;
    border-radius: 0.25rem;
  }
  
code a:any-link {
    text-decoration: underline;
    text-decoration-color: #ccc;
  }
  
pre {
    background-image: linear-gradient(160deg,#f8f8f8 0,#f1f1f1 100%);
  }
  
/* Keyboard keys - reduce padding */

kbd {
    padding: 0.125rem 0.375rem !important;
    font-size: 0.875em;
    font-family: monospace;
  }

.code-explanation {
    margin-top: 0rem;
    padding-top: 0rem;
    border-left: 4px solid darken(#f5f5f5, 2.5%);
    color: lighten(#212529, 25%);

    code-copy-outer-scaffold {
      margin-left: 2rem;
    }
    
    ul {
      list-style: none;
    }
  }

  /* Sidebars --------- */

  #quarto-margin-sidebar {
    padding-top: 2rem !important;
    margin-top: 0 !important;
  }

  /* Headings ------------------------------------------------------ */

#title-block-header.quarto-title-block.default .quarto-title h1.title {
    margin-bottom: 0.5rem;
  }
  
  h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
  }
  h3 { margin-top: 1.5em; font-size: 1.2rem; font-weight: 500; }
  h4 { margin-top: 1.5em; font-size: 1.1rem; }
  h5 { margin-top: 1.5em; font-size: 1rem; }
  
  .quarto-section-identifier {
    color: #6C6C6C;
    font-weight: normal;
  }
  
  